raw_data/GSM5404038_NF-2-019-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404038_NF-2-019-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404039_NF-2-026-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404039_NF-2-026-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404039_NF-2-026-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404040_NF-2090-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404040_NF-2090-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404040_NF-2090-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404041_MPNST-2-023-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404041_MPNST-2-023-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404041_MPNST-2-023-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404042_MPNST-2-015-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404042_MPNST-2-015-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404042_MPNST-2-015-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404043_MPNST-2-016-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404043_MPNST-2-016-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404043_MPNST-2-016-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404044_MPNST-2-084-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404044_MPNST-2-084-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404044_MPNST-2-084-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404038_NF-2-019-filtered_feature_bc_matrix/barcodes.tsv.gz
.RData
.Rhistory
data_mpnst.rds
.Rproj.user/708B91A6/rmd-outputs
.Rproj.user/708B91A6/saved_source_markers
.Rproj.user/708B91A6/pcs/debug-breakpoints.pper
.Rproj.user/708B91A6/pcs/files-pane.pper
.Rproj.user/708B91A6/pcs/source-pane.pper
.Rproj.user/708B91A6/pcs/windowlayoutstate.pper
.Rproj.user/708B91A6/pcs/workbench-pane.pper
.Rproj.user/708B91A6/sources/prop/62A933F8
.Rproj.user/708B91A6/sources/prop/91C491B7
.Rproj.user/708B91A6/sources/prop/31039FBF
.Rproj.user/708B91A6/sources/prop/F7C3F4BE
.Rproj.user/708B91A6/sources/prop/INDEX
.Rproj.user/708B91A6/sources/session-52df059f/0AECA8CB-contents
.Rproj.user/708B91A6/sources/session-52df059f/04A2E894-contents
.Rproj.user/708B91A6/sources/session-52df059f/9D0B71CE-contents
.Rproj.user/708B91A6/sources/session-52df059f/221D2F24-contents
.Rproj.user/708B91A6/sources/session-52df059f/332ABCF3-contents
.Rproj.user/708B91A6/sources/session-52df059f/393EB398-contents
.Rproj.user/708B91A6/sources/session-52df059f/0836DB79-contents
.Rproj.user/708B91A6/sources/session-52df059f/967FD07C
.Rproj.user/708B91A6/sources/session-52df059f/967FD07C-contents
.Rproj.user/708B91A6/sources/session-52df059f/976A02AB
.Rproj.user/708B91A6/sources/session-52df059f/976A02AB-contents
.Rproj.user/708B91A6/sources/session-52df059f/7894147B-contents
.Rproj.user/708B91A6/sources/session-52df059f/84455036-contents
.Rproj.user/708B91A6/sources/session-52df059f/93591070-contents
.Rproj.user/708B91A6/sources/session-52df059f/CFC4D77D-contents
.Rproj.user/708B91A6/sources/session-52df059f/D6FD24C0-contents
.Rproj.user/708B91A6/sources/session-52df059f/DE51E70E-contents
.Rproj.user/708B91A6/sources/session-52df059f/E27E0F99-contents
.Rproj.user/708B91A6/sources/session-52df059f/EA23BBAA-contents
.Rproj.user/708B91A6/sources/session-52df059f/F547BD8A-contents
.Rproj.user/708B91A6/sources/session-52df059f/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
raw_data/GSE179043_RAW.tar
raw_data/GSM5402770_P115L1mutP_filtered_peak_bc_matrix.h5
raw_data/GSM5402770_P115L1mutP_fragments.tsv.gz
raw_data/GSM5402770_P115L1mutP_fragments.tsv.gz.tbi.gz
raw_data/GSM5402770_P115L1mutP_singlecell.csv.gz
raw_data/GSM5402771_NF_2-004_filtered_peak_bc_matrix.h5
raw_data/GSM5402771_NF_2-004_fragments.tsv.gz
raw_data/GSM5402771_NF_2-004_fragments.tsv.gz.tbi.gz
raw_data/GSM5402771_NF_2-004_singlecell.csv.gz
raw_data/GSM5402772_MPNST_2-084_filtered_peak_bc_matrix.h5
raw_data/GSM5402772_MPNST_2-084_fragments.tsv.gz
raw_data/GSM5402772_MPNST_2-084_fragments.tsv.gz.tbi.gz
raw_data/GSM5402772_MPNST_2-084_singlecell.csv.gz
raw_data/GSM5404031_NF-2-021-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404032_NF-2-004-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404033_NF-2-003-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404034_NF-2-006-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404035_NF-2-013-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404036_NF-2-084-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404037_NF-2-017-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404038_NF-2-019-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404039_NF-2-026-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404040_NF-2090-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404041_MPNST-2-023-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404042_MPNST-2-015-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404043_MPNST-2-016-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404044_MPNST-2-084-filtered_feature_bc_matrix.tar.gz
raw_data/GSM5404411_1.5M_D-GFP_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404412_P45L1GFP_D_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404413_4M_D-GFP_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404414_P115_Lats1mutGFP-Dermal_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404415_1.5M_P-GFP_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404416_P45L1GFP_P_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404417_4M_P-GFP_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404418_P115_L1mutGFP-P_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404419_1.5M_SN-GFP_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404420_p45L1GFP_SN_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404421_P40_latsmutGFP_SN_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404422_4M_SN-GFP_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404423_P115_L1mutGFP-SN_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404424_P194NF1GFP_SN_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404425_P98-NPE_SN_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404426_p100_NPE_SN_out_gene_exon_tagged.dge.txt.gz
raw_data/GSM5404031_NF-2-021-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404031_NF-2-021-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404031_NF-2-021-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404032_NF-2-004-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404032_NF-2-004-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404032_NF-2-004-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404033_NF-2-003-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404033_NF-2-003-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404033_NF-2-003-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404034_NF-2-006-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404034_NF-2-006-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404034_NF-2-006-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404035_NF-2-013-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404035_NF-2-013-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404035_NF-2-013-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404036_NF-2-084-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404036_NF-2-084-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404036_NF-2-084-filtered_feature_bc_matrix/matrix.mtx.gz
raw_data/GSM5404037_NF-2-017-filtered_feature_bc_matrix/barcodes.tsv.gz
raw_data/GSM5404037_NF-2-017-filtered_feature_bc_matrix/features.tsv.gz
raw_data/GSM5404037_NF-2-017-filtered_feature_bc_matrix/matrix.mtx.gz
test/analyze copy.R
test/analyze_mpnst_nf.R
test/analyze.R
test/angiogenesis_markers_statistics.csv
test/cluster_and_COL6A1_expression.pdf
test/cluster_genes.txt
test/clusters_by_condition.pdf
test/COL6 analysis.R
test/COL6 plots.R
test/COL6A1_all_progression_markers.pdf
test/COL6A1_angiogenesis_markers.pdf
test/COL6A1_angiogenesis_statistics.csv
test/COL6A1_expression_by_cluster_and_condition.pdf
test/COL6A1_expression_by_cluster_violin.pdf
test/COL6A1_expression_combined_UMAP.pdf
test/COL6A1_expression_enhanced_colors.pdf
test/COL6A1_expression_schwann_highlight_UMAP.pdf
test/COL6A1_expression_status_by_condition.pdf
test/COL6A1_expression_status.pdf
test/COL6A1_expression_UMAP.pdf
test/COL6A1_high_cells_by_cluster.csv
test/COL6A1_high_cells_percentage_by_cluster.pdf
test/COL6A1_high_low_UMAP.pdf
test/COL6A1_invasion_markers.pdf
test/COL6A1_invasion_statistics.csv
test/COL6A1_metastasis_markers.pdf
test/COL6A1_metastasis_statistics.csv
test/collagen_genes_statistics.csv
test/data.merged.markers.csv
test/download_data copy.r
test/download_data.r
test/ECM_gene_dotplot.pdf
test/ECM_genes_statistics.csv
test/heatmap.png
test/invasion_markers_statistics.csv
test/metastasis_markers_statistics.csv
test/MPNST_annotated_clusters.pdf
test/MPNST_cell_annotations.pdf
test/MPNST_clusters_by_celltype.pdf
test/MPNST_new_clusters.pdf
test/MPNST_only_clusters.pdf
test/MPNST_TRAP1_DEGs_heatmap.pdf
test/MPNST_TRAP1_ECM_combined.pdf
test/MPNST_TRAP1_ECM_violins.pdf
test/MPNST_TRAP1_TopDEGs_dotplot.pdf
test/MPNST.Rproj
test/plot.svg
test/SchannCancer_NF_vs_MPNST_angiogenesis_comparison.pdf
test/SchannCancer_NF_vs_MPNST_angiogenesis_DEGs.csv
test/SchannCancer_NF_vs_MPNST_angiogenesis_volcano.pdf
test/SchannCancer_NF_vs_MPNST_collagen_comparison.pdf
test/SchannCancer_NF_vs_MPNST_collagen_DEGs.csv
test/SchannCancer_NF_vs_MPNST_collagen_volcano.pdf
test/SchannCancer_NF_vs_MPNST_invasion_comparison.pdf
test/SchannCancer_NF_vs_MPNST_invasion_DEGs.csv
test/SchannCancer_NF_vs_MPNST_invasion_volcano.pdf
test/SchannCancer_NF_vs_MPNST_metastasis_comparison.pdf
test/SchannCancer_NF_vs_MPNST_metastasis_DEGs.csv
test/SchannCancer_NF_vs_MPNST_metastasis_volcano.pdf
test/SchannCancer_NF_vs_MPNST_progression_dotplot.pdf
test/SchannCancer_NF_vs_MPNST_progression_heatmap.pdf
test/top10.csv
test/TRAP1_angiogenesis_markers.pdf
test/TRAP1_expression.pdf
test/TRAP1_high_vs_low_all_DEGs.csv
test/TRAP1_high_vs_low_DEGs.csv
test/TRAP1_invasion_markers.pdf
test/TRAP1_metastasis_markers.pdf
test/TRAP1_ordered_collagen_genes.pdf
test/TRAP1_status_groups.pdf
test/TRAP1_top_progression_markers.pdf
test/umap_plot.pdf
test/umap2.pdf
test/umap3.pdf
